{% extends "invoice/invoice-base.html" %}
{% block title %}Billing{% endblock %}
{% block component %}
{% if user %}
<div id="addCredit" class="modal hide fade" tabindex="-1" role="dialog">
	<form method="POST" action="{{ url_for('.creditamt') }}" class="form-horizontal">
        <div class="modal-header">
                <a href="#"  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
                <h3>Add Credit</h3>
        </div>
        <div class="modal-body">
		<p>How much credit would you like to add?</p>
		<div class="control-group">
			<label class="control-label" for="creditamt">USD ($):</label>
			<div class="controls">
				<input type="text" id="creditamt" name="creditamt" value="7.50" class="input-block-level">
			</div>
		</div>
        </div>
        <div class="modal-footer">
                <button type="submit" class="btn btn-success"><i class="icon-plus"></i> Add Credit</button>
                <a href="#"  class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
        </div>
	</form>
</div>

<div class="row-fluid">
<div class="span3 text-right">
	<h3 style="margin-bottom: 0">Service credit</h3>
	<h2 class="text-success" style="margin: 0;">${{ user.total_credit() | strf("{0:.2f}") }}</h2>
	<p>
		<a href="#addCredit" class="btn btn-success" data-toggle="modal"><i class="icon-plus"></i> Add additional credit</a>
	</p>
</div>

<div class="span9" style="margin-top: 1em">

<table class="table table-striped">
<tr>
	<th>Transaction ID</th>
	<th>Description</th>
	<th>
		<span class="pull-right">Amount</span>
	</th>
</tr>
{% for credit in user.credits %}
<tr>
	<td>{{ credit.id }}</td>
	<td>{{ credit.description }}</td>
	<td>
		<span class="pull-right">${{ credit.amount | strf("{0:.2f}") }}</span>
	</td>
</tr>
{% endfor %}
</table>

</div>

</div>
{% endif %}

<div class="row-fluid">
<div class="span3 text-right">
	<h3>Invoice history</h3>
	<p>This is your invoice history.</p>
</div>

<div class="span9" style="margin-top: 1em">
<table class="table table-striped">
<tr>
	<th>Invoice ID</th>
	<th>User</th>
	<th>Status</th>
	<th>Amount</th>
	<th>
		<span class="pull-right">Options</span>
	</th>
</tr>
{% for invoice in invoices %}
<tr>
	<td class="span1"><a href="{{ url_for('.view', invoice_id=invoice.id) }}">{{ invoice.id }}</a></td>
	{% if user and user.is_admin %}
	<td class="span4"><a href="{{ url_for('profile.view_base', username=invoice.user.username) }}">{{ invoice.user.username }}</a></td>
	{% else %}
	<td class="span6">{{ invoice.user.username }}</td>
	{% endif %}
	<td class="span1">
	{% if invoice.payment_ts %}
		<span class="label label-success">Paid</span>
	{% else %}
		<span class="label label-important">Due</span>
	{% endif %}
	</td>
	<td class="span1">${{ invoice.total_due() | strf("{0:.2f}") }}</td>
	<td class="span3">
		<span class="pull-right">
			<a href="{{ url_for('.view', invoice_id=invoice.id) }}" class="btn btn-primary"><i class="icon-search"></i> View</a>
			<a href="{{ url_for('.view_pdf', invoice_id=invoice.id) }}" class="btn btn-info"><i class="icon-download"></i> Download</a>
			{% if user.is_admin %}
				<a href="{{ url_for('.credit', invoice_id=invoice.id) }}" class="btn btn-danger">Mark Paid</a>
			{% endif %}
		</span>
	</td>
</tr>
{% endfor %}
</table>
</div>
</div>
{% endblock %}
