{% extends "invoice/invoice-base.html" %}
{% block title %}Invoices{% endblock %}
{% block headerbarcontent %}
Invoice #{{ invoice.id }}{% if invoice.payment_ts %} <span class="label label-success" style="font-size: 0.75em">Paid</span>{% endif %}
	<span class="pull-right">
		<a href="{{ url_for('.credit_invoice', invoice_id=invoice.id) }}" class="btn btn-primary">Apply Credit</a>
		<a href="{{ url_for('.view_pdf', invoice_id=invoice.id) }}" class="btn btn-info"><i class="icon-download"></i> Download (PDF)</a>
		<a href="{{ url_for('.resend', invoice_id=invoice.id) }}" class="btn btn-warning"><i class="icon-envelope"></i> Resend</a>
{% if user.is_admin %}
		<a href="{{ url_for('.credit', invoice_id=invoice.id) }}" class="btn btn-danger">Mark Paid</a>
		<a href="{{ url_for('.delete', invoice_id=invoice.id) }}" class="btn btn-inverse">Delete</a>
{% endif %}
	</span>
{% endblock %}
{% block component %}
<table class="table table-striped">
<tr>
	<th>Line Item #</th>
	<th>Description</th>
	<th>Amount (BTC)</th>
	<th>Amount (USD)</th>
</tr>
{% for item in invoice.items %}
<tr>
	<td>{{ item.id }}</td>
	<td>{{ item.description }}</td>
	<td>{{ item.bitcoin_cost() | strf("{0:.4f}") }} BTC</td>
	<td>${{ item.price | strf("{0:.2f}") }}</td>
</tr>
{% endfor %}
<tr>
	<td colspan="2"></td>
	<td><strong class="pull-right">Total (BTC):</strong></td>
	<td>{{ invoice.total_btc_due() | strf("{0:.4f}") }} BTC</td>
</tr>
<tr>
	<td colspan="2"></td>
	<td><strong class="pull-right">Total (USD):</strong></td>
	<td>${{ invoice.total_due() | strf("{0:.2f}") }}</td>
</tr>
</table>

{% if not invoice.payment_ts %}
<!-- PayPal button -->
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
	<input type="hidden" name="business" value="{{ config['PAYPAL_EMAIL'] }}">
	<input type="hidden" name="cmd" value="_xclick">
	<input type="hidden" name="item_name" value="Invoice {{ invoice.id }} Payment ({{ invoice.user.username }})">
	<input type="hidden" name="amount" value="{{ invoice.total_due() | strf("{0:.2f}") }}">
	<input type="hidden" name="notify_url" value="https://manage.tortois.es/invoice/{{ invoice.id }}/ipn-post">
	<input type="hidden" name="currency_code" value="USD">
	<input type="hidden" name="charset" value="utf-8">
	<input type="hidden" name="cpp_header_image" value="https://manage.tortois.es/branding/static/logo.png">
	<button type="submit" class="pull-right btn btn-large btn-primary">Pay in USD with PayPal</button>
</form>

{% if config['STRIPE_PUBLIC_KEY'] %}
<!-- Stripe payment -->
<form action="/invoice/{{ invoice.id }}/stripe_pay" method="POST">
  <input type="hidden" name="amount" value="{{ invoice.total_due() | strf("{0:.2f}") | replace(".", "") }}">  <!-- stripe wants to know the amount of cents, not dollars -->
  <!-- https://stripe.com/docs/checkout#integration-simple-options - we collect billing addresses -->
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{ config['STRIPE_PUBLIC_KEY'] }}"
    data-image="/static/favicon.ico"
    data-name="TortoiseLabs"
    data-description="Invoice {{ invoice.id }} Payment ({{ invoice.user.username }})"
    data-amount="{{ invoice.total_due() | strf("{0:.2f}") | replace(".", "") }}"
    data-billingAddress="true"
    data-currency="USD">
  </script>
</form>
{% endif %}

<h4 style="clear: left;">
	{% set btc_adr = invoice.bitcoin_address() %}
	{% if btc_adr %}
		<img src="/static/invoice/bitcoin.png" alt="Bitcoin Address" style="float: left;">
		<div style="padding-top: 0.4em">Pay {{ invoice.total_btc_due() | strf("{0:.4f}") }} BTC (beta) to: {{ invoice.bitcoin_address() }}</div>
	{% endif %}
</h4>
{% endif %}

{% endblock %}
