{% extends "status/incidentbase.html" %}
{% block title %}Incidents{% endblock %}

{% block headerbarcontent %}
#{{ incident.id }} - {{ incident.subject }}
{{ self.headerbarbuttons() }}
{% endblock %}

{% block component %}
<div class="row-fluid ticket-row">
	<div class="span2">
		<div class="pull-right ticket-reply-source">
			<strong>Task type:</strong>
		</div>
	</div>
	<div class="span10">{{ incident.department }}</div>
</div>

<div class="row-fluid ticket-row">
	<div class="span2">
		<div class="pull-right ticket-reply-source">
			<strong>Opened:</strong>
		</div>
	</div>
	<div class="span10">{{ incident.opened_at | time_ago }}</div>
</div>

<div class="row-fluid ticket-row">
	<div class="span2">
		<div class="pull-right ticket-reply-source">
			<strong>Last Update:</strong>
		</div>
	</div>
	<div class="span10">{{ incident.replies[-1].replied_at | time_ago }}</div>
</div>

{% if incident.closed_at %}
<div class="row-fluid ticket-row">
	<div class="span2">
		<div class="pull-right ticket-reply-source">
			<strong>Closed:</strong>
		</div>
	</div>
	<div class="span10">{{ incident.closed_at | time_ago }}</div>
</div>
{% endif %}

{% for reply in incident.replies %}
<div class="row-fluid ticket-row">
	<div class="span2">
		<div class="pull-right ticket-reply-source">
			<img src="{{ reply.from_user.email | gravatar(64) }}" alt="gravatar" class="gravatar"><br>
			<strong>{{ reply.from_user.username }}</strong><br>
			{{ reply.replied_at | time_ago }}
		</div>
	</div>
	<div class="span10">
		{{ reply.message | nl2br }}
	</div>
</div>
{% endfor %}

{% if user and user.is_admin %}
<form method="POST">
<div class="row-fluid ticket-row">
	<div class="span2">
		<div class="pull-right ticket-reply-source">
			<img src="{{ user.email | gravatar(64) }}" alt="gravatar" class="gravatar"><br>
			<strong>{{ user.username }}</strong>
		</div>
	</div>
	<div class="span10">
		<textarea name="message" placeholder="Reply here" class="ticket-reply-textarea span12"></textarea><br>
		<div class="pull-right">
			<button type="submit" class="btn btn-primary">Add Reply</button>
			<a href="{{ url_for('.close', incident_id=incident.id) }}" class="btn">Close Ticket</a>
		</div>
	</div>
</div>
</form>
{% endif %}

{% endblock %}
