{% extends "profile/base.html" %}

{% block headerbarcontent %}
Node Administration
{% endblock %}

{% block component %}

<table class="table table-striped">
<tr>
<th>Node</th>
<th>Revenue</th>
<th>Active VPS</th>
<th>Locked</th>
<th>Region</th>
<th>Free IPs</th>
<th>Memory Allocated</th>
<th>Disk Allocated</th>
<th>Memory Free</th>
<th>Disk Free</th>
<th>
	<div class="pull-right">Options</div>
</th>
</tr>
{% for node in nodes %}
<tr>
<td>{{ node.name }}</td>
<td>${{ revenue[node.name] | strf("{0:.2f}") }}</td>
<td>{{ node.vps | count }}</td>
<td>{{ node.locked }}</td>
<td>{{ node.region.name }}</td>
<td>{{ node.available_ips(ipv4_only=True) | count }}</td>
<td>{{ node.memory_allocated() }} MB</td>
<td>{{ node.disk_allocated() }} GB</td>
<td>{{ node.memorycap - node.memory_allocated() }} MB</td>
<td>{{ node.diskcap - node.disk_allocated() }} GB</td>
<td>
	<div class="pull-right">
		<a href="{{ url_for('.node_info', node=node.id) }}" class="btn btn-primary">View</a>
		<a href="{{ url_for('.node_lock', node=node.id) }}" class="btn btn-danger">{{ "Unlock" if node.locked else "Lock" }}</a>
	</div>
</td>
</tr>
</div>
{% endfor %}
</table>

{% endblock %}
