{% extends "profile/userviewbase.html" %}
{% set subtitle='Account' %}

{% block subcomponent %}

<h3>User Information</h3>

<div class="row-fluid">
	<div class="span3">
		<div class="pull-right">
			<strong>E-Mail Address:</strong>
		</div>
	</div>
	<div class="span9">
		{{ user.email }}
	</div>
</div>

<div class="row-fluid">
	<div class="span3">
		<div class="pull-right">
			<strong>Access Level:</strong>
		</div>
	</div>
	<div class="span9">
		{{ 'Admin' if user.is_admin else 'User' }}
	</div>
</div>

<h3>Sessions</h3>

<table class="table table-striped">
<tr>
	<th>Session ID</th>
	<th>IP</th>
	<th>Session Challenge</th>
</tr>
{% for session in user.sessions %}
<tr>
	<td>{{ session.id }}</td>
	<td>{{ session.host }}</td>
	<td>{{ session.challenge | truncate }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
