{% extends "profile/base.html" %}
{% block title %}{{ user.username }} - Accounts{% endblock %}

{% block headerbarcontent %}
	<img class="gravatar" src="{{ user.email | gravatar(40) }}" alt="{{ user.username }}'s gravatar">
	{{ user.username }}
	<span class="pull-right">
		<a href="{{ url_for("support.message", username=user.username) }}" class="btn btn-success"><i class="icon-envelope"></i> Message</a>
	</span>
{% endblock %}

{% block component %}
<ul class="nav nav-tabs">
	<li{{ ' class="active"'|safe if subtitle == 'Account' else '' }}><a href="{{ url_for('.view_base', username=user.username) }}">Account</a></li>
	<li{{ ' class="active"'|safe if subtitle == 'Invoices' else '' }}><a href="{{ url_for('.view_invoices', username=user.username) }}">Invoices</a></li>
	<li{{ ' class="active"'|safe if subtitle == 'Services' else '' }}><a href="{{ url_for('.view_services', username=user.username) }}">Services</a></li>
	<li{{ ' class="active"'|safe if subtitle == 'Tickets' else '' }}><a href="{{ url_for('.view_tickets', username=user.username) }}">Tickets</a></li>
	<li{{ ' class="active"'|safe if subtitle == 'Credits' else '' }}><a href="{{ url_for('.view_credits', username=user.username) }}">Credits</a></li>
</ul>

{{ self.subcomponent() }}
{% endblock %}
