{% extends "base-scaffolding.html" %}
{% set section = 'vServers' %}
{% if service %}
	{% set svclist = service.user.services %}
{% else %}
	{% if user %}
		{% set svclist = user.services %}
	{% endif %}
{% endif %}

{% block containertype %}{% if user %}container-subnav-type{% else %}{{ super() }}{% endif %}{% endblock %}

{% block subnav %}
{% if user %}
<nav id="subnav">
	<ul class="nav nav-list">
		<li style="display: block; text-align: center;"><i class="bigicon icon-cloud text-info"></i></li>
		<li><a href="{{ url_for('.signup') }}" class="btn btn-success" style="margin: 0; color: #fff">New Server</a></li>
		{% if user and user.is_admin %}
		<li><a href="{{ url_for('.list_all') }}"><i class="icon-lock"></i> View All Servers</a></li>
		{% endif %}

		{% for vps in svclist %}
		{% if vps.is_entitled %}
			{% if service and vps.name == service.name %}
				<li class="active">
					<a href="{{ url_for('.view', vps=vps.id) }}"><i class="icon-cloud"></i> {{ vps.nickname | default(vps.name, true) }}</a>
				</li>
			{% else %}
				<li>
					<a href="{{ url_for('.view', vps=vps.id) }}"><i class="icon-cloud"></i> {{ vps.nickname | default(vps.name, true) }}</a>
				</li>
			{% endif %}
		{% endif %}
		{% endfor %}
	</ul>
</nav>
{% endif %}
{% endblock %}

{% block content %}

{% if service %}
<div id="admDelete" class="modal hide fade" tabindex="-1" role="dialog">
	<div class="modal-header">
		<a href="#"  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
		<h3>Are you sure?</h3>
	</div>
	<div class="modal-body">
		<p>If you continue, your VPS will be permanently deleted.  We will not have any way to recover the data!</p>
		{% if service.user == user %}
		<p>Your account will be credited <strong>${{ service.refund_amount() | strf("{0:.2f}") }}</strong>.</p>
		{% endif %}
	</div>
	<div class="modal-footer">
		<a href="#"  class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
		<a href="{{ url_for('.adm_delete', vps=service.id) }}" class="btn btn-danger">Delete</a>
	</div>
</div>
{% endif %}

{{ super() }}

{% endblock %}
