{% extends "vps/base.html" %}
{% if vpslist[0] %}
	{% set username=vpslist[0].user.username %}
{% else %}
	{% set username=user.username %}
{% endif %}
{% set vpslist=vpslist or user.services %}
{% block title %}Server List{% endblock %}

{% block head %}
{{ super() }}
	<script src="/static/widget-vps-status.js" type="text/javascript"></script>
{% endblock %}

{% block headerbarcontent %}
	{{ username }}'s Cluster
	<span class="pull-right">
		<a href="{{ url_for('.signup') }}" class="btn btn-success">Add a Server</a>
	</span>
{% endblock %}

{% block component %}
<div class="row-fluid">

<div class="span12 well">
	<h4 class="pushdown">Network usage</h4>
	<div id="net-graph" style="height: 250px"></div>
</div>

</div>

<div class="row-fluid">

<div class="span6 well">
	<h4 class="pushdown">CPU usage</h4>
	<div id="cpu-graph" style="height: 250px"></div>
</div>

<div class="span6 well">
	<h4 class="pushdown">I/O usage</h4>
	<div id="vbd-graph" style="height: 250px"></div>
</div>

</div>

<h3 class="service-hdr">
	Cluster Servers
	<span class="pull-right form-search">
		<input type="text" value="" placeholder="Search" id="search" class="search-query">
	</span>
</h3>

<table class="table table-striped" id="serverlist">
<thead>
<tr>
	<th style="width: 16px"></th>
	<th class="span2">VPS</th>
	<th class="span1">Memory</th>
	<th class="span1">Disk</th>
	<th class="span2">Primary IP</th>
	<th class="span1">Host</th>
	<th class="span2">Location</th>
	<th class="span1">Expiry</th>
	<th class="span2">
		<span class="pull-right">Options</span>
	</th>
</tr>
</thead>
<tbody>
{% for service in vpslist %}
{% if service.type == 'xenvps' %}
<tr>
	<td id="vps{{ service.id }}" style="width: 16px"></td>
	<td>{{ service.nickname | default(service.name, true) }}</td>
	<td>{{ service.memory }} MB</td>
	<td>{{ service.disk }} GB</td>
	{% if service.ips[0] %}
	<td>{{ service.ips[0].ip }}</td>
	{% else %}
	<td>&mdash;</td>
	{% endif %}
	<td>{{ service.node.name }}</td>
	<td>{{ service.node.region.name }}</td>
	{% if service.expiry %}
	<td>{% if not service.is_entitled %}Expired: {% endif %}{{ service.expiry | strftime('%m/%d/%Y') }}</td>
	{% else %}
	<td>Inactive</td>
	{% endif %}
	<td>
		<span class="pull-right">
			{% if service.is_entitled %}
			<a href="{{ url_for('.view', vps=service.id) }}" class="btn btn-primary">View</a>
			{% else %}
			<a href="{{ url_for('.renew', vps=service.id) }}" class="btn btn-primary">Renew</a>
			{% endif %}
			{% if user.is_admin %}
			<a href="{{ url_for('.ip_admin', vps=service.id) }}" class="btn btn-danger">Admin</a>
			{% endif %}
		</span>
	</td>
</tr>
{% endif %}     
{% endfor %}
</tbody>
</table>

<script type="text/javascript">
$(function() {
    var __tmf = "%H:%M";
    var __start = 3600 * 4;
    var __step = 60;
    var __baseuri = "";
    var __callback = null;
    var __cpudata = [];
    var __vbddata = [];
    var __netindata = [];
    var __netoutdata = [];

    function cpu_data_received(newdata, tmf, svsid, label) {
        var colors = ['#336633', '#333366', '#663333', '#336666', '#666633', '#663366'];
        var placeholder = $("#cpu-graph");
        var options = {
            series: { stack: true },
            legend: { noColumns: 3 },
            lines: { show: true, fill: 0.7, stack: true, lineWidth: 0 },
    	    points: { show: false },
   	    grid: { show: true, borderColor: '#dddddd', borderWidth: 1, aboveData: false },
	    xaxis: { mode: "time", timeformat: tmf, timezone: "browser" },
            yaxis: { min: 0, label: "CPU usage (%)", tickFormatter: function(num, obj) { return num.toFixed(2) + "%"; } }
        }

        newdata.color = colors[svsid % colors.length];
        newdata.label = label;
        __cpudata.push(newdata);
        $.plot(placeholder, __cpudata, options);
    }

    function net_data_received(newdata, tmf, svsid, label) {
        var colors = ['#336633', '#333366'];
        var placeholder = $("#net-graph");
        var options = {
            series: { stack: true },
            lines: { show: true, fill: 0.7, stack: true, lineWidth: 0 },
    	    points: { show: false },
   	    grid: { show: true, borderColor: '#dddddd', borderWidth: 1, aboveData: false },
	    xaxis: { mode: "time", timeformat: tmf, timezone: "browser" },
            yaxis: { min: 0, tickFormatter: function(num, obj) {
                    if (num <= 1) { return num.toFixed(2); }
                    var suffix = ['', 'K', 'M', 'G'];
                    var i = parseInt(Math.floor(Math.log(num) / Math.log(1000)));
                    num /= Math.pow(1024, i);
                    return num.toFixed(2) + suffix[i];
                }
            }
        }

        cmbdata = [];
        for (i = 0; i < newdata[0].data.length; i++) {
           if (__netindata[i])
               cmbdata.push([newdata[0].data[i][0], (__netindata[i][1] + newdata[0].data[i][1])]);
           else
               cmbdata.push([newdata[0].data[i][0], newdata[0].data[i][1]]);
        }
        __netindata = cmbdata;

        indata = {
            data: __netindata,
            label: "Bytes received",
            color: '#336633',
        };

        cmbdata = [];
        for (i = 0; i < newdata[1].data.length; i++) {
           if (__netoutdata[i])
               cmbdata.push([newdata[1].data[i][0], (__netoutdata[i][1] + newdata[1].data[i][1])]);
           else
               cmbdata.push([newdata[1].data[i][0], newdata[1].data[i][1]]);
        }
        __netoutdata = cmbdata;

        outdata = {
            data: __netindata,
            label: "Bytes sent",
            color: '#333366',
        };

        $.plot(placeholder, [indata, outdata], options);
    }

    function vbd_data_received(newdata, tmf, svsid, label) {
        var colors = ['#336633', '#333366', '#663333', '#336666', '#666633', '#663366'];
        var placeholder = $("#vbd-graph");
        var options = {
            series: { stack: true },
            legend: { noColumns: 3 },
            lines: { show: true, fill: 0.7, stack: true, lineWidth: 0 },
    	    points: { show: false },
   	    grid: { show: true, borderColor: '#dddddd', borderWidth: 1, aboveData: false },
	    xaxis: { mode: "time", timeformat: tmf, timezone: "browser" },
            yaxis: { min: 0 }
        }

        cmbdata = [];

        for (i = 0; i < newdata[0].data.length; i++) {
           cmbdata.push([newdata[0].data[i][0], (newdata[0].data[i][1] + newdata[1].data[i][1] + newdata[2].data[i][1])]);
        }

        pushdata = {
            data: cmbdata,
            label: label,
            color: colors[svsid % colors.length],
            fillColor: colors[svsid % colors.length],
        };

        __vbddata.push(pushdata);
        $.plot(placeholder, __vbddata, options);
    }

    function get_uri(svsid, topic) {
        return '/vps/' + svsid + '/' + topic + '/' + __start + '/' + __step;
    }

    {% set i = 0 %}
    {% for service in vpslist %}
    status_setup("{{ url_for('.status_json', vps=service.id) }}", $("#vps{{ service.id }}"));
    {% if service.is_entitled and service.type == 'xenvps' %}
    $.ajax({
        url: get_uri({{ service.id }}, 'cpustats'),
        type: 'GET',
        dataType: 'json',
        success: function(d) { cpu_data_received(d, __tmf, {{ i }}, "{{ service.name }}"); }
    });

    $.ajax({
        url: get_uri({{ service.id }}, 'vbdstats'),
        type: 'GET',
        dataType: 'json',
        success: function(d) { vbd_data_received(d, __tmf, {{ i }}, "{{ service.name }}"); }
    });

    __start = 3600 * 8;
    $.ajax({
        url: get_uri({{ service.id }}, 'netstats'),
        type: 'GET',
        dataType: 'json',
        success: function(d) { net_data_received(d, __tmf, {{ i }}, "{{ service.name }}"); }
    });
    {% set i = i + 1 %}
    {% endif %}
    {% endfor %}
});
</script>

<script>
$(document).ready(function() {
    table = $('#serverlist').dataTable({
        "sDom": "t<'row'<'span12 text-center'p>>",
        "sPaginationType": "bootstrap",
        "iDisplayLength": 15,
    });

    $('#search').attr('value', '');
    $('#search').keyup(function(e) {
        table.fnFilter($(this).attr('value'));
    });
});
</script>

{% endblock %}
