{% extends "vps/base.html" %}
{% set vpslist=vpslist or user.services %}
{% block title %}Server List{% endblock %}

{% block subcontent %}

<h2>
	Server List
	<span class="pull-right form-search">
		<input type="text" id="search" class="search-query" placeholder="Search" value="">
	</span>
</h2>

<table class="table table-striped" id="serverlist">
<thead>
<tr>
	<th class="span2">VPS</th>
	<th class="span1">Memory</th>
	<th class="span1">Disk</th>
	<th class="span1">Primary IP</th>
	<th class="span1">Status</th>
	<th class="span1">Host</th>
	<th class="span1">
		<span class="pull-right">Options</span>
	</th>
</tr>
</thead>
<tbody>
{% for service in vpslist %}
{% if service.type == 'xenvps' %}
<tr>
	<td>{{ service.name }} {% if service.nickname %}({{ service.nickname }}){% endif %}</td>
	<td>{{ service.memory }} MB</td>
	<td>{{ service.disk }} GB</td>
	{% if service.ips[0] %}
	<td>{{ service.ips[0].ip }}</td>
	{% else %}
	<td>&mdash;</td>
	{% endif %}
	<td>
	{% if service.is_entitled %}
		 <span class="label label-success">Active</span>
	{% else %}
		 <span class="label label-important">Suspended</span>
	{% endif %}
	</td>
	<td>{{ service.node.name }}</td>
	<td>
		<span class="pull-right">
			<a href="{{ url_for('.view', vps=service.id) }}" class="btn btn-primary">View</a>
			{% if user.is_admin %}
			<a href="{{ url_for('support.message', username=service.user.username) }}" class="btn btn-danger">Message</a>
			{% endif %}
		</span>
	</td>
</tr>
{% endif %}     
{% endfor %}
</tbody>
</table>

<script>
$(document).ready(function() {
    table = $('#serverlist').dataTable({
        "sDom": "t<'row'<'span12 text-center'p>>",
        "sPaginationType": "bootstrap",
        "iDisplayLength": 15,
    });

    $('#search').attr('value', '');
    $('#search').keyup(function(e) {
        table.fnFilter($(this).attr('value'));        
    });
});
</script>

{% endblock %}
