{% extends "vps/base.html" %}
{% set subtitle = 'New Server' %}
{% block title %}New Server{% endblock %}

{% block subcontent %}

<form method="POST">

{% if not user %}

<h3>Create an Account</h3>

<p>Welcome!  Create an account today to manage your server instances and DNS zones.  If you already have an account with us, <a href="/login">please sign in</a>.</p>

{% if error %}
<div class="error">
	{{ error }}
</div>
{% endif %}

<div class="row-fluid">
	<div class="span3"><strong>Username:</strong></div>
	<div class="span9"><input class="input-block-level" type="text" name="username" required="required"></div>
</div>

<div class="row-fluid">
	<div class="span3"><strong>Password:</strong></div>
	<div class="span9"><input class="input-block-level" type="password" name="password" required="required"></div>
</div>

<div class="row-fluid">
	<div class="span3"><strong>E-Mail Address:</strong></div>
	<div class="span9"><input class="input-block-level" type="text" name="email" required="required"></div>
</div>

{% endif %}

<h3>Resource Plan</h3>

<table class="table table-striped">
<tr>
	<th></th>
	<th>Plan</th>
	<th>Memory</th>
	<th>Swap</th>
	<th>Disk</th>
	<th>Bandwidth</th>
	<th>Max IPv4</th>
	<th>Price (USD)</th>
	<th>Price (BTC)</th>
</tr>
{% for plan in resource_plans %}
<tr>
	<td><input type="radio" name="plan" value="{{ plan.id }}" {{ 'checked="checked"' if plan.id == 1 }}></td>
	<td>{{ plan.name }}</td>
	<td>{{ plan.memory }} MB</td>
	<td>{{ plan.swap }} MB</td>
	<td>{{ plan.disk }} GB</td>
	<td>{{ '60' if plan.memory > 2048 else '20' }}mbps guaranteed<sup>1</sup></td>
	<td>{{ plan.ipv4_limit }}<sup>2</sup></td>
	<td>${{ discount.translate_price(plan.price) | strf("{0:.2f}") }}</td>
	<td>{{ plan.bitcoin_cost(discount) | strf("{0:.4f}") }} BTC</td>
</tr>
{% endfor %}
</table>

<p><sup>1</sup>: QoS guidelines: 20mbps guaranteed to be available to each individual VPS at any time, 1000mbps to each network segment.</p>

<p><sup>2</sup>: All plans start with 1 IP by default, but more may be requested free of charge with proper justification, and at our discretion.</p>

<h3>Region</h3>

<p>
	<input type="radio" name="region" value="-1" checked="checked"> Pick any region where stock is available.<br>
{% for region in regions %}
{% if not region.hidden %}
	<input type="radio" name="region" value="{{ region.id }}"> {{ region.name }}<br>
{% endif %}
{% endfor %}
</p>

{% if not discount.is_valid() %}
<h3>Promotional Code</h3>

<p>If you have a valid promotional code, you can apply it to receive a discount.</p>

<div class="row-fluid">
	<div class="span3"><strong>Promo code:</strong></div>
	<div class="span9"><input class="input-block-level" type="text" name="c"></div>
</div>
{% else %}
<h3>Congratulations!</h3>

<p>You will be receiving a <strong>{% if discount.type == 'percent' %}{{ discount.amount | strf("{0:.0f}") }}%{% else %}${{ discount.amount | strf("{0:.2f}") }}{% endif %} discount</strong> on your order with us today!</p>

<p>We look forward to serving you as a valued customer.</p>

<input type="hidden" name="c" value="{{ discount.name }}">
{% endif %}

{% if user %}
<button class="btn btn-primary btn-large" type="submit">Add New Server</button>
{% else %}
<button class="btn btn-primary btn-large" type="submit">Sign Up</button>
{% endif %}

</form>

{% endblock %}
