{% extends "vps/base.html" %}

{% block head %}
{{ super() }}
	<script src="/static/widget-logdata.js" type="text/javascript"></script>
	<script src="/static/widget-vps-status.js" type="text/javascript"></script>
	<script src="/static/widget-vps-rename.js" type="text/javascript"></script>
{% endblock %}

{% block title %}{{ service.nickname | default(service.name, true) }} - Servers{% endblock %}

{% block subcontentprologue %}
<script>
$(document).ready(function() {
	status_setup("{{ url_for('.status_json', vps=service.id) }}", $("#vpsstatus"));
	renamewidget("{{ url_for('.setnickname', vps=service.id) }}", "{{ service.nickname | default(service.name, true) }}", $("#vpsrename"));
});
</script>
{% endblock %}
{% block headerbarbuttons %}{% endblock %}
{% block headerbarcontent %}
{% if submoduledesc %}
	<span id="vpssubmodule">{{ submoduledesc }} &mdash;</span>
{% endif %}
	<span id="vpsrename"></span>
	<span id="vpsstatus"></span>
	<span class="pull-right">
		<div class="dropdown">
			{{ self.headerbarbuttons() }}
			<button class="btn btn-primary" data-toggle="dropdown" role="button"><i class="icon-cloud"></i> Manage <i class="caret"></i></button>
			<ul class="dropdown-menu pull-right" style="font-size: 50%" role="menu">
			<li>
				<a href="{{ url_for('.view', vps=service.id) }}"><i class="icon-dashboard"></i> Dashboard</a>
			</li>
			<li>
				<a class="launchconsole" href="{{ url_for('.console', vps=service.id) }}" target="_blank"><i class="icon-terminal"></i> Console</a>
			</li>
			<li class="divider"></li>
			<li>
				<a class="jsonify" href="{{ url_for('.create', vps=service.id) }}"><i class="icon-play"></i> Start</a>
			</li>
			<li>
				<a class="jsonify" href="{{ url_for('.shutdown', vps=service.id) }}"><i class="icon-stop"></i> Safe Shutdown</a>
			</li>
			<li class="divider"></li>
			<li>
				<a class="jsonify" href="{{ url_for('.destroy', vps=service.id) }}"><i class="icon-stop"></i> Forceful Shutdown</a>
			</li>
			<li>
				<a class="jsonify" href="{{ url_for('.powercycle', vps=service.id) }}"><i class="icon-refresh"></i> Forceful Restart</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="{{ url_for('.jobs', vps=service.id) }}">Task Log</a>
			</li>
			<li>
				<a href="{{ url_for('.graphs', vps=service.id) }}">Graphs</a>
			</li>
			<li>
				<a href="{{ url_for('.ip_admin', vps=service.id) }}">IP Management</a>
			</li>
			{% if user.is_admin %}
			<li class="divider"></li>
			<li>
				<a href="{{ url_for('.suspend', vps=service.id) }}">Suspend</a>
			</li>
			<li>
				<a href="{{ url_for('.entitle', vps=service.id) }}">Entitle</a>
			</li>
			{% endif %}
			</ul>
		</div>
	</span>
{% endblock %}
