{% extends "vps/view-hdr.html" %}
{% set subtitle='Dashboard' %}
{% block title %}{{ service.name }} - Servers{% endblock %}

{% block component %}

<div id="admRenew" class="modal hide" tabindex="-1" role="dialog">
        <div class="modal-header">
                <a href="#"  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
                <h3>Renew Your VPS</h3>
        </div>
        <div class="modal-body">
		<p>Please verify that you would like to extend your server's expiry date by 1 month.</p>
		<p>You will be billed <strong>${{ service.price | strf("{0:.2f}") }}</strong> for the renewal.</p>
        </div>
        <div class="modal-footer">
		<a href="{{ url_for('.renew', vps=service.id) }}" class="btn btn-primary">Renew</a>
        </div>
</div>

<div id="admBoot" class="modal hide" tabindex="-1" role="dialog">
        <div class="modal-header">
                <a href="#"  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
                <h3>Boot a specific Kernel Profile</h3>
        </div>
        <div class="modal-body">
		{% for prof in profiles %}
		<div class="row-fluid">
			<div class="span6">
				{{ prof.name }}{% if prof.id == service.profile.id %} [selected default]{% endif %}
			</div>
			<div class="span6">
				<form class="pull-right" method="POST" action="{{ url_for('.setprofile', vps=service.id) }}">
					<input type="hidden" name="profid" value="{{ prof.id }}">
					<button type="submit" class="btn">Set Default</button>
				</form>

				<form class="pull-right" method="POST" action="{{ url_for('.create', vps=service.id) }}">
					<input type="hidden" name="profid" value="{{ prof.id }}">
					<button type="submit" class="btn btn-primary">Boot</button>&nbsp;
				</form>
			</div>
		</div>
		{% endfor %}
        </div>
        <div class="modal-footer">
                <a href="#"  class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
        </div>
</div>

{% if service.profile.type != 'hvm' %}
<div id="admDeploy" class="modal hide" tabindex="-1" role="dialog">
	<form method="POST" action="{{ url_for('.deploy', vps=service.id) }}">
        <div class="modal-header">
                <a href="#"  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
                <h3>Deploy</h3>
        </div>
        <div class="modal-body">
		<p style="text-align: justify">Deploying will (re)initialize your VPS to a clean slate and install a new OS on it.  If you have already deployed an OS,
		   please note this operation is <strong>destructive</strong>.  Our staff will be unable to recover any data which is destroyed
		   as a result of installing a new OS.</p>

		<div class="row-fluid" style="margin-bottom: 1em;">
			<div class="span4"><strong class="pull-right">OS Image:</strong></div>
			<div class="span8">
			{% for imagename, template in templates.items() %}
				<input type="radio" name="imagename" id="dist-{{ imagename }}" value="{{ imagename }}"> {{ template }}<br>
			{% endfor %}
			</div>
		</div>
		<div class="row-fluid">
			<div class="span4"><strong class="pull-right">Root Password:</strong></div>
			<div class="span8">
				<input type="password" name="rootpass" class="span12">
			</div>
		</div>
		<div class="row-fluid">
			<div class="span4"><strong class="pull-right">Architecture:</strong></div>
			<div class="span8">
				<input type="radio" name="arch" value="x86_64" checked="checked"> 64-bit (recommended)<br>
				<input type="radio" name="arch" value="i386"> 32-bit (experimental)
			</div>
		</div>
		<div class="row-fluid" style="margin-top: 1em;">
			<div class="span4"><strong class="pull-right">Start VPS:</strong></div>
			<div class="span8">
				<input type="checkbox" name="startvps" value="true" checked="checked"><br>
				Start the VPS when the installation is finished.
			</div>
		</div>
        </div>
        <div class="modal-footer">
		<button type="submit" class="btn btn-primary">Deploy</button>
                <a href="#"  class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
        </div>
	</form>
</div>
{% endif %}

<div class="row-fluid pushdown iconbar">
	<div class="span1">
		<a href="#admBoot" role="button" class="btn btn-block btn-icon btn-primary" data-toggle="modal">
			<i class="largeicon icon-play"></i><br>
			Launch
		</a>
	</div>
	{% if service.profile.type != 'hvm' %}
	<div class="span1">
		<a href="#admDeploy" role="button" class="btn btn-block btn-icon btn-success" data-toggle="modal">
			<i class="largeicon icon-magic"></i><br>
			Install
		</a>
	</div>
	{% else %}
	<div class="span1">
		<a href="{{ url_for('.hvmvnc', vps=service.id) }}" class="btn btn-block btn-icon btn-success">
			<i class="largeicon icon-cog"></i><br>
			Configure
		</a>
	</div>
	{% endif %}
	<div class="span1">
		<a href="{{ url_for('.console', vps=service.id) }}" class="btn btn-block btn-icon btn-info launchconsole" target="_blank">
			<i class="largeicon icon-terminal"></i><br>
			Console
		</a>
	</div>
	<div class="span1 offset5">
	{% if service.watchdog != True %}
		<a href="{{ url_for('.start_monitoring', vps=service.id) }}" class="btn btn-block btn-icon btn-danger">
			<i class="largeicon icon-ok-sign"></i><br>
			Watchdog
		</a>
	{% else %}
		<a href="{{ url_for('.stop_monitoring', vps=service.id) }}" class="btn btn-block btn-icon btn-success">
			<i class="largeicon icon-ok-sign"></i><br>
			Watchdog
		</a>
	{% endif %}
	</div>
	<div class="span1">
		<a href="{{ url_for('.monitor_list', vps=service.id) }}" class="btn btn-block btn-icon btn-info">
			<i class="largeicon icon-time"></i><br>
			Monitoring
		</a>
	</div>
	<div class="span1">
		<a href="{{ url_for('.profiler', vps=service.id) }}" class="btn btn-block btn-icon btn-warning">
			<i class="largeicon icon-cogs"></i><br>
			Profiler
		</a>
	</div>
	<div class="span1">
		<a href="#admDelete" role="button" data-toggle="modal" class="btn btn-block btn-icon btn-danger">
			<i class="largeicon icon-trash"></i><br>
			Delete
		</a>
	</div>
</div>

<div class="row-fluid row-equalize pushdown">
	<div class="span4 well">
		<h4 class="pushdown">Resources</h4>
		<div class="row-fluid">
			<div class="span6"><strong>Memory</strong></div>
			<div class="span6 text-right">{{ service.memory }} mb</div>
		</div>
		<div class="row-fluid">
			<div class="span6"><strong>Swap</strong></div>
			<div class="span6 text-right">{{ service.swap }} mb</div>
		</div>
		<div class="row-fluid">
			<div class="span6"><strong>Disk</strong></div>
			<div class="span6 text-right">{{ service.disk }} gb</div>
		</div>
		<div class="row-fluid">
			<div class="span6"><strong>CPU SLA</strong></div>
			<div class="span6 text-right">{{ service.cpu_sla }}</div>
		</div>
	</div>

	<div class="span4 well">
		<h4 class="pushdown">
			IP Management
			<span class="pull-right">
				<a href="{{ url_for('.ip_admin', vps=service.id) }}" class="btn btn-primary"><i class="icon-wrench"></i> Advanced</a>
			</span>
		</h4>
		<div class="row-fluid">
			<strong>eth0 [{{ service.mac }}]:</strong>
			<ul class="nav nav-list">
			{% for ip in service.ips %}
				<li>{{ ip.ip }}</li>
			{% endfor %}
			</ul>
		</div>
	</div>

	<div class="span4 well">
		<h4 class="pushdown">
			Administration
			<span class="pull-right">
				{% if not service.disable_renew %}
				<a href="#admRenew" class="btn btn-success" data-toggle="modal"><i class="icon-refresh"></i> Renew</a>
				{% else %}
				<span class="btn btn-success disabled"><i class="icon-refresh"></i> Renew</span>
				{% endif %}
			</span>
		</h4>
		<div class="row-fluid">
			<div class="span3"><strong>Expiry</strong></div>
			<div class="span9 text-right">
				{% if service.expiry %}
				{{ service.expiry | strftime('%m/%d/%Y') }} (${{ service.price | strf("{0:.2f}") }} per month)
				{% else %}
				Inactive
				{% endif %}
			</div>
		</div>
		<div class="row-fluid">
			<div class="span3"><strong>Host</strong></div>
			<div class="span9 text-right">{{ service.node.name }}</div>
		</div>
		<div class="row-fluid">
			<div class="span3"><strong>Region</strong></div>
			<div class="span9 text-right">{{ service.node.region.name }}</div>
		</div>
	</div>
</div>

{% if service.has_pending_work() %}
<div class="row-fluid row-equalize pushdown">
	{% include "vps/view-base-tasks-and-monitoring.html" %}
</div>
{% endif %}

<div class="row-fluid pushdown">
	<div class="span12 well">
		<div id="cpu-graph" class="minigraph"></div>
	</div>
</div>

<div class="row-fluid pushdown">
	<div class="span12 well">
		<div id="net-graph" class="minigraph"></div>
	</div>
</div>

{% if not service.has_pending_work() %}
<div class="row-fluid row-equalize">
	{% include "vps/view-base-tasks-and-monitoring.html" %}
</div>
{% endif %}

<script type="text/javascript">
$(function() {
    var __tmf = "%H:%M";
    var __start = 14400;
    var __step = 60;
    var __baseuri = "";
    var __callback = null;

    function cpu_data_received(newdata, tmf) {
        var placeholder = $("#cpu-graph");
        var options = {
            lines: { show: true, fill: 0.7, lineWidth: 0 },
    	    points: { show: false },
   	    grid: { show: true, borderColor: '#dddddd', borderWidth: 1 },
	    xaxis: { mode: "time", timeformat: tmf, timezone: "browser" },
            yaxis: { min: 0, label: "CPU usage (%)", tickFormatter: function(num, obj) { return num.toFixed(2) + "%"; } }
        }

        $.plot(placeholder, [newdata], options);
    }

    function net_data_received(newdata, tmf) {
        var placeholder = $("#net-graph");
        var options = {
            series: { stack: true },
            legend: { show: true },
            lines: { show: true, fill: 0.7, stack: false, lineWidth: 0 },
    	    points: { show: false },
   	    grid: { show: true, borderColor: '#dddddd', borderWidth: 1 },
	    xaxis: { mode: "time", timeformat: tmf, timezone: "browser" },
            yaxis: { min: 0, label: "CPU usage (%)", tickFormatter: function(num, obj) {
                    if (num <= 1) { return num.toFixed(2); }
                    var suffix = ['', 'K', 'M', 'G'];
                    var i = parseInt(Math.floor(Math.log(num) / Math.log(1000)));
                    num /= Math.pow(1024, i);
                    return num.toFixed(2) + suffix[i];
                }
            }
        }

        $.plot(placeholder, newdata, options);
    }

    function get_uri(topic) {
        return '/vps/{{ service.id }}/' + topic + '/' + __start + '/' + __step;
    }

    $.ajax({
        url: get_uri('cpustats'),
        type: 'GET',
        dataType: 'json',
        success: function(d) { cpu_data_received(d, __tmf); }
    });

    $.ajax({
        url: get_uri('netstats'),
        type: 'GET',
        dataType: 'json',
        success: function(d) { net_data_received(d, __tmf); }
    });
});

$(function() {
    logdata_setup("{{ url_for('.jobs_json', vps=service.id) }}?limit=5", $('#tasklog'), 1000, false);
});
</script>

{% endblock %}
