{% extends "vps/view-hdr.html" %}
{% set subtitle='HVM' %}
{% block title %}{{ service.name }} - Servers{% endblock %}

{% block component %}

<div id="admAddISO" class="modal hide" tabindex="-1" role="dialog">
	<form method="POST" action="{{ url_for('.hvmiso_new', vps=service.id) }}" class="form-horizontal">
        <div class="modal-header">
                <a href="#"  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
                <h3>Add New ISO</h3>
        </div>
        <div class="modal-body">
		<p><strong>Note</strong>: ISO images must be on HTTP-accessible URIs.  Mounting an inaccessible ISO will
		   result in an unbootable VM!</p>
		<div class="control-group">
			<label class="control-label" for="isoname">ISO Name</label>
			<div class="controls">
				<input type="text" id="isoname" name="isoname" class="input-block-level">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="isouri">URI</label>
			<div class="controls">
				<input type="text" id="isouri" name="isouri" class="input-block-level">
			</div>
		</div>
        </div>
        <div class="modal-footer">
		<button type="submit" class="btn btn-primary">Add New ISO</button>
                <a href="#"  class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
        </div>
	</form>
</div>

<div class="row-fluid row-equalize pushdown">

<div class="span3 text-right">
	<h3>
		VNC Credentials
	</h3>
	<p>
		You may connect to your VNC console using the web client, or any VNC client of your choice.
	</p>
	<a href="{{ url_for('.console', vps=service.id) }}" class="launchconsole btn btn-primary"><i class="icon-terminal"></i> Console</a>
</div>

<div class="span8" style="margin-top: 1.5em">

<div class="row-fluid">
	<div class="span3"><strong>Host:</strong></div>
	<div class="span9">{{ service.node.ipaddr }} ({{ service.node.name }})</div>
</div>

<div class="row-fluid">
	<div class="span3"><strong>Port:</strong></div>
	<div class="span9">{{ 5900 + service.id }}</div>
</div>

<div class="row-fluid">
	<div class="span3"><strong>Password:</strong></div>
	<div class="span9">{{ service.name }}</div>
</div>

<div class="row-fluid">
	<div class="span3"><strong>TLS (VeNCrypt support):</strong></div>
	<div class="span9">Enabled</div>
</div>

</div>

</div>

<div class="row-fluid row-equalize pushdown">

<div class="span3 text-right">
	<h3>Boot ISO</h3>

	<p>You may select a boot ISO from the list of ISO images below.  These images are used to install an OS on your server or
	   to perform recovery tasks.</p>

	<p>Additionally, you may add ISOs to your ISO library for private use on your virtual machines.</p>

	<a href="#admAddISO" data-toggle="modal" class="btn btn-success"><i class="icon-plus"></i> Add new ISO</a>
</div>

<div class="span9" style="margin-top: 1.5em">

<form method="POST" action="{{ url_for('.hvmisoset', vps=service.id) }}">
{% for iso in isolist %}
<div class="row-fluid pushdown">
	<div class="span10">
		<label class="radio">
			<input type="radio" name="isoid" value="{{ iso.id }}"{% if iso.id == service.hvmiso_id %} checked="checked"{% endif %}>
			{{ iso.name }}
		</label>
	</div>
	{% if not iso.public %}
	<div class="span2 text-right">
		<a href="{{ url_for('.hvmiso_delete', vps=service.id, isoid=iso.id) }}" class="btn btn-danger"><i class="icon-trash"></i> Delete</a>
	</div>
	{% endif %}
</div>
{% endfor %}
<div class="row-fluid">
	<div class="span12">
		<button type="submit" class="btn btn-primary">Select Boot ISO</button>
	</div>
</div>

</form>

</div>

</div>

<div class="row-fluid row-equalize pushdown">

<div class="span3 text-right">
	<h3>Boot Order</h3>

	<p>You may select whether or not you will boot from an ISO image or your disk image.  This may be useful
	   for recovery tasks or installing a new operating system.</p>
</div>

<div class="span9" style="margin-top: 1.5em">

<form method="POST" action="{{ url_for('.hvmbootorder', vps=service.id) }}">
<div class="row-fluid">
	<div class="span12">
		<label class="radio">
			<input type="radio" name="bootorder" value="cd" {% if service.hvm_bootorder == "cd" %}checked{% endif %}>
			Disk image, then ISO image.
		</label>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<label class="radio">
			<input type="radio" name="bootorder" value="dc" {% if service.hvm_bootorder == "dc" %}checked{% endif %}>
			ISO image, then disk image.
		</label>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<label class="radio">
			<input type="radio" name="bootorder" value="c" {% if service.hvm_bootorder == "c" %}checked{% endif %}>
			Disk image only.
		</label>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<label class="radio">
			<input type="radio" name="bootorder" value="d" {% if service.hvm_bootorder == "d" %}checked{% endif %}>
			ISO image only.
		</label>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<button type="submit" class="btn btn-primary">Select Boot Order</button>
	</div>
</div>
</form>

</div>

</div>

<div class="row-fluid row-equalize pushdown">

<div class="span3 text-right">
	<h3>NIC Type</h3>

	<p>You may select the type of NIC that will be used.  Some OS support virtio, which may improve
	   performance.</p>
</div>

<div class="span9" style="margin-top: 1.5em">

<form method="POST" action="{{ url_for('.hvmnictype', vps=service.id) }}">
<div class="row-fluid">
	<div class="span12">
		<label class="radio">
			<input type="radio" name="nictype" value="e1000" {% if service.hvm_nictype == "e1000" %}checked{% endif %}>
			e1000
		</label>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<label class="radio">
			<input type="radio" name="nictype" value="virtio-net" {% if service.hvm_nictype == "virtio-net" %}checked{% endif %}>
			virtio-net
		</label>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<label class="radio">
			<input type="radio" name="nictype" value="rtl8139" {% if service.hvm_nictype == "rtl8139" %}checked{% endif %}>
			rtl8139
		</label>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<button type="submit" class="btn btn-primary">Select NIC Type</button>
	</div>
</div>
</form>

</div>

</div>

{% endblock %}
