{% extends "vps/view-hdr.html" %}
{% block title %}{{ service.name }} - Servers{% endblock %}
{% set subtitle='Deploy' %}

{% block component %}

<h3>Deploy</h3>

<p>Deploying will (re)initialize your VPS to a clean slate and install a new OS on it.  If you have already deployed an OS,
   please note this operation is <strong>destructive</strong>.  Our staff will be unable to recover any data which is destroyed
   as a result of installing a new OS.</p>

<form method="POST" action="{{ url_for('.deploy', vps=service.id) }}">

<div class="row-fluid" style="margin-bottom: 1em;">
	<div class="span3"><strong class="pull-right">OS Image:</strong></div>
	<div class="span9">
	{% for imagename, template in templates.items() %}
		<input type="radio" name="imagename" id="dist-{{ imagename }}" value="{{ imagename }}"> {{ template }}<br>
	{% endfor %}
	</div>
</div>
<div class="row-fluid">
	<div class="span3"><strong class="pull-right">Root Password:</strong></div>
	<div class="span9">
		<input type="password" name="rootpass" class="span12">
	</div>
</div>
<div class="row-fluid">
	<div class="span3"><strong class="pull-right">Architecture:</strong></div>
	<div class="span9">
		<input type="radio" name="arch" value="x86_64" checked="checked"> 64-bit (recommended)<br>
		<input type="radio" name="arch" value="i386"> 32-bit (experimental)
	</div>
</div>
<div class="row-fluid" style="margin-top: 1em;">
	<div class="span3"><strong class="pull-right">Start VPS:</strong></div>
	<div class="span9">
		<input type="checkbox" name="startvps" value="true" checked="checked"><br>
		Start the VPS when the installation is finished.  Uncheck if you wish to manually start the VPS.
	</div>
</div>
<div class="row-fluid" style="margin-top: 1em;">
	<div class="span3"></div>
	<div class="span9">
		<button type="submit" class="btn btn-primary">Deploy</button>
	</div>
</div>

</form>

{% endblock %}
