{% extends "base-scaffolding.html" %}
{% block title %}DNS Zones{% endblock %}
{% set section = 'DNS' %}

{% block containertype %}container-subnav-type{% endblock %}

{% block subnav %}
<nav id="subnav">
<ul class="nav nav-list">
	<li style="display: block; text-align: center;"><i class="bigicon icon-globe text-info"></i></li>
	<li><a href="{{ url_for('.new_domain') }}" class="btn btn-success" style="margin: 0; color: #fff">New Zone</a></li>
	{% if user.is_admin %}
	<li><a href="{{ url_for('.list_all') }}"><i class="icon-lock"></i> View All Zones</a></li>
	{% endif %}

	{% for zn in user.domains %}
	{% if zone and zone.name == zn.name %}
	<li class="active">
		<a href="{{ url_for('.view_domain', zone_id=zn.id) }}">
			<i class="icon-sitemap"></i> {{ zn.name | truncate(32) }}
		</a>
	</li>
	{% else %}
	<li>
		<a href="{{ url_for('.view_domain', zone_id=zn.id) }}">
			<i class="icon-sitemap"></i> {{ zn.name | truncate(32) }}
		</a>
	</li>
	{% endif %}
	{% endfor %}
</ul>
</nav>
{% endblock %}
