{% extends "dns/zone-base.html" %}

{% block component %}
<p>Using this tool, you can import the records for {{ zone.name }} from another server which supports
   AXFR transfers.  Specify the nameserver's IP below to continue.</p>

<form method="POST">
	<input type="text" name="nameserver" placeholder="Nameserver IP"><br>
	<button class="btn btn-primary" type="submit">Import</button>
</form>
{% endblock %}
