{% extends "dns/base.html" %}
{% block title %}New DNS Zone - DNS Zones{% endblock %}

{% block headerbarcontent %}
New DNS Zone
{% endblock %}

{% block component %}
<p>Once the zone is created, set your DNS servers to <strong>ns1.tortois.es</strong> and
   <strong>ns2.tortois.es</strong> respectively.</p>

<form method="POST">
	<input type="text" name="domain_name" placeholder="Domain name"><br>
	<button class="btn btn-primary" type="submit">Create</button>
</form>
{% endblock %}
