{% extends "dns/base.html" %}
{% block title %}{{ zone.name }} - DNS Zones{% endblock %}

{% block headerbarcontent %}
{{ zone.name }}
<span class="pull-right">
	<a href="{{ url_for('.new_record', zone_id=zone.id) }}" class="btn btn-success">
		<i class="icon-plus"></i> Add Record
	</a>
	<a href="{{ url_for('.delete_domain', zone_id=zone.id) }}" class="btn btn-danger">
		<i class="icon-trash"></i> Delete
	</a>
	<a href="{{ url_for('.import_domain', zone_id=zone.id) }}" class="btn btn-warning">
		<i class="icon-bolt"></i> Import
	</a>
	<a href="{{ url_for('.view_domain', zone_id=zone.id) }}" class="btn btn-primary">
		<i class="icon-sitemap"></i> Records
	</a>
</span>
{% endblock %}
